In [3]:
import pandas as pd

df = pd.read_csv("../data/apple.csv")
df.head()

   Unnamed: 0  Adj Close     Close      High       Low      Open     Volume
0  1980-12-12   0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1  1980-12-15   0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2  1980-12-16   0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3  1980-12-17   0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4  1980-12-18   0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [4]:
df = df.rename(columns={"Unnamed: 0":"Date"})
df.head()

         Date  Adj Close     Close      High       Low      Open     Volume
0  1980-12-12   0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1  1980-12-15   0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2  1980-12-16   0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3  1980-12-17   0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4  1980-12-18   0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])
df = df.set_index("Date")
df = df.sort_index()

KeyError: 'Date'

In [7]:

df.head()
df.tail()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2024-12-27,255.589996,255.589996,258.700012,253.059998,257.829987,42355300
2024-12-30,252.199997,252.199997,253.500000,250.750000,252.229996,35557500
2024-12-31,250.419998,250.419998,253.279999,249.429993,252.440002,39480700
2025-01-02,243.850006,243.850006,249.100006,241.820007,248.929993,55558000
2025-01-03,243.860001,243.860001,244.179993,241.889999,243.369995,15135053

In [8]:
df = df[["Close", "Volume"]]

In [9]:
df.head()

               Close     Volume
Date
1980-12-12  0.128348  469033600
1980-12-15  0.121652  175884800
1980-12-16  0.112723  105728000
1980-12-17  0.115513   86441600
1980-12-18  0.118862   73449600